main {
  background-color: blue;
  & section {
    background-color: red;
    width: 500px;
    & li {
      background-color: yellow;
      width: 400px;
      & a {
        color: black;
        &:hover {
          color: red;
        }
      }
    }
  }
}

/* color-mod, gray(), system-ui

body {
  font-family: system-ui;
}

h1 {
  color: #f1c40f;
}

h1:hover {
  color: color-mod(#f1c40f lightness(10%));
}

*/

/* @custom-media and media-range

@custom-media --ipad-size (450px <= width < 850px);

@media (--ipad-size) {
  body {
    background-color: palegoldenrod;
  }
}

*/

/* CSS Variables , @custom-selector

:root {
  --awsomeColor: #2980b9;
  --awsomeLine: 1px solid red;
}

li:first-child a {
  color: var(--awsomeColor);
  border: var(--awsomeLine);
}

@custom-selector :--headers h1, h2, h3, h4, h5, h6;

:--headers {
  color: #8e44ad;
}

*/
/* matches

li:matches(:nth-child(even), .target) {
  background-color: rosybrown;
} 

li:not(.target) {
  background-color: hotpink;
}

*/
